@model Persona

@{ 
    Model.Nombre = "Pedro";

}


<h2>Este es el index de Personas</h2>


<div>
    <label>Nombre:</label>
    <span>@Model.Nombre</span>
    <label>Apellido:</label>
    <span>@Model.Apellido</span>
    <label>Id:</label>
    <span>@Model.Id</span>
</div>


